@using Recipe.Helpers;
@model PagerResponse<RecipeDetails>
@{
    ViewData["Title"] = ViewData["section"];
}

<div class="c-box rounded shadow-lg blur" style="z-index:-2">
        <h3 class="mt-3">@(ViewData["Favourites"] != "Y" ? "Your Recipes" : "Favourite Recipes")</h3>
        <hr />
        <div class="row mt-3 mb-3">
            <div class="col-6 d-start">
                
                
                @if (ViewData["Favourites"] != "Y")
                {
                    <a class="btn btn-primary shadow" href="@Url.Action("Details","Home")">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                }
            </div>
            <div class="col-6 d-end">
                <div class="btn-group change-view-buttons shadow">
                <button class="btn @(Model.VIEW == "table-view" ? "btn-primary":"btn-secondary") change-view" data-view="table-view" title="List view">
                        <i class="fa fa-list"></i>
                    </button>
                <button class="btn @(Model.VIEW == "block-view" ? "btn-primary":"btn-secondary") change-view" data-view="block-view" title="Grid view">
                        <i class="fa fa-grip"></i>
                    </button>
                </div>
                
            </div>
        </div>
        <div class="row mt-3 view">
            @Html.Partial("Pages",Model) 
        </div>
    <script>
        
        $(document).on('click', 'button.change-view.btn-secondary', function () {
            spinner(true)
            $.ajax({
                url: '@Url.Action("LoadPages","Home")',
                type: 'POST',
                data: {
                    currentPage: $('.pager span.active').text(),
                    pageSize: 12,
                    maxPages: 5,
                    view: $(this).data('view')
                },
                success: function (res) {
                    $('.change-view').toggleClass('btn-primary btn-secondary')
                    $('.view').html(res)
                    spinner(false)
                    
                },
                error: function (err) {
                    spinner(false)
                    alert(err)
                }
            })
        })
        $(document).on('click', 'button.test', function () {
            notifyBar('test1', 'danger')
        })
        $(document).on('click', '.Favourite', function () {
            let ele = $(this);
            let btn = ele.find('i')
            $.ajax({
                url: '@Url.Action("ChangeFav","Home")',
                type: 'POST',
                data: { id: ele.data('id'), change: btn.hasClass('fa-regular') },
                success: function (res) {
                    if (res['success'] == true) {
                        btn.hasClass('fa-regular') ?
                            btn.removeClass('fa-regular').addClass('fa-solid c-pink') :
                            btn.removeClass('fa-solid c-pink').addClass('fa-regular')
                    }
                    else {
                        alert(res['message'])
                    }
                },
                error: function () {
                    alert("Failed")
                }
            })
        })
        $(document).on('click', '.pager span:not(.active,.info)', function () {
            debugger;
            let btn = $(this).attr('id');
            let cur = 1;
            switch (btn) {
                case 'first':
                    cur = 1;
                    break;
                case 'next':
                    cur = parseInt($('.pager span.active').text()) + 1;
                    break;
                case 'prev':
                    cur = parseInt($('.pager span.active').text()) - 1;
                    break;
                case 'last':
                    cur = parseInt($('.pager span.info').text().replace('Total: ', ''));
                    break;
                default:
                    cur = parseInt($(this).text());
                    break;
            };
            ajaxPost(
                '', '@Url.Action("LoadPages","Home")',
                {
                    currentPage: cur,
                    pageSize: 12,
                    maxPages: 5,
                    view: $('button.change-view').filter('.btn-primary').data('view')
                },
                function (res) {
                    $('.view').html(res)
                },
                { toggle: true }
            )
        })
    </script>
</div>

