@using Recipe.Helpers;
@model PagerResponse<RecipeDetails>

@if (Model.VIEW == "table-view")
{
    <div class="col-12 h-50 table-view">
        <table class="table table-striped shadow">
            <tr>
                <th style="text-align:center">Actions</th>
                <th>Recipe Name</th>
                <th>No of Ingredients</th>
                <th>Food Type</th>
            </tr>

            @foreach (var item in Model.Pages)
            {
                <tr>

                    <td class="options">

                        <a href="@Url.Action("View","Home",new {id=item.ID})" class="" title="View">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="@Url.Action("Details","Home",new {id=item.ID})" class="text-warning" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                        <span data-id="@item.ID" class="Favourite" title="Favourite">
                            @if (item.FAVOURITES == "Y")
                            {
                                <i class="fa-solid c-pink fa-heart"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-heart"></i>
                            }
                        </span>
                    </td>
                    <td>@item.RECIPE_NAME</td>
                    <td>@item.TotalIngredients</td>
                    <td>
                        @{
                            var color = item.RECIPE_TYPE_ID == 1 ? "green" : "brown";
                        }
                        <div style="aspect-ratio:1/1;width:20px;border:2px solid @color" class="d-center mx-2">
                            <div style="aspect-ratio:1/1;width:10px;background:@color;border-radius:50px;">
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else if (Model.VIEW == "block-view")
{
    <div class="col-12 h-100 block-view">
        <div class="row r-start">
            @foreach (var item in Model.Pages)
            {
                <div class="col-md-3 col-6">

                    <div class="img-h img-block shadow-lg my-2 rounded">
                        @if (item.ID > 0 && !string.IsNullOrEmpty(item.Image))
                        {
                            <img id="img-pic" src="@("data:image/jpeg;base64,"+item.Image)" style="width:100%;height:100%;position:absolute" />
                        }
                        else
                        {
                            <div style="width:100%;height:100%;position:absolute;    position: absolute;
    background: #00bef982;" class="d-center">
                                <i class="fa-solid fa-utensils text-white" style="font-size: 100px;"></i>
                            </div>
                        }
                        <div class="img-bg d-around">
                            <a class="no-decor" href="@Url.Action("Details","Home",new {id=item.ID})">
                                <i class="fa-solid fa-edit text-light"></i>
                            </a>
                            <a class="no-decor" href="@Url.Action("View","Home",new {id=item.ID})">
                                <i class="fa-solid fa-eye text-light"></i>
                            </a>

                        </div>
                        <div class="img-h img-content ">
                            <div class="d-flex m-2">
                                <div class="col-10 o-x-h ">
                                    <a class="no-decor text-white" href="@Url.Action("View","Home",new {id=item.ID})">
                                        @item.RECIPE_NAME
                                    </a>
                                </div>
                                <div class="col-2">
                                    <span data-id="@item.ID" class="Favourite" title="Favourite">
                                        @if (item.FAVOURITES == "Y")
                                        {
                                            <i class="fa-solid c-pink fa-heart"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-heart"></i>
                                        }
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div class="footer-page blur d-end">
        <div class="pager d-center">
            <span class="next @(Model.StartPage == Model.CurrentPage || Model.TotalPages <= 5?"d-none":"deep-shadow")" id="first"><i class="fa-solid fa-angles-left"></i></span>
            <span class="prev @(Model.StartPage == Model.CurrentPage?"d-none":"deep-shadow")" id="prev"><i class="fa-solid fa-chevron-left"></i></span>
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <span class="deep-shadow @(Model.CurrentPage == i ? "active ":"")" id="num">@i</span>
            }
            <span class="next @(Model.EndPage == Model.CurrentPage?"d-none":"deep-shadow")" id="next"><i class="fa-solid fa-chevron-right"></i></span>
        <span class="next @(Model.EndPage == Model.CurrentPage || Model.TotalPages <= 5?"d-none":"deep-shadow")" id="last"><i class="fa-solid fa-angles-right"></i></i></span>
            <span class="info deep-shadow">Total: @Model.TotalPages</span>
        </div>
    </div>
    <button class="test" hidden>test</button>
