@using Recipe.Helpers;
@model PagerResponse<RecipeDetailResponse>

@if (Model.View == "table-view")
{
    <div class="col-12 h-50 table-view">
        <table class="table table-striped shadow">
            <tr>
                <th>Recipe Name</th>
                <th>No of Ingredients</th>
                <th>Food Type</th>
                <th class="th-actions"></th>
            </tr>

            @foreach (var item in Model.Pages)
            {
                <tr>
                    <td>@item.recipe_name</td>
                    <td>@item.totalingredients</td>
                    <td>
                        @{
                            var color = item.recipe_type_id == 1 ? "green" : "brown";
                        }
                        <div style="aspect-ratio:1/1;width:20px;border:2px solid @color" class="d-center mx-2">
                            <div style="aspect-ratio:1/1;width:10px;background:@color;border-radius:50px;">
                            </div>
                        </div>
                    </td>
                    <td class="td-hover d-end">
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        <div class="opt-td">
                            <a class="no-decor view-eye" data-id="@item.id">
                                <i class="fa-solid fa-eye text-primary"></i>
                            </a>
                            <a href="@Url.Action("View","Home",new {id=item.id})" class="" title="View" hidden>
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a href="@Url.Action("Details","Home",new {id=item.id})" class="text-warning" title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-id="@item.id" class="Favourite" title="Favourite">
                                @if (item.favourites == "Y")
                                {
                                    <i class="fa-solid c-pink fa-heart"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-heart"></i>
                                }
                            </span>
                        </div>
                    </td>
                </tr>

                
            }
        </table>
    </div>
}
else if (Model.View == "block-view")
{
    <div class="col-12 h-100 block-view">
        <div class="row r-start">
            @foreach (var item in Model.Pages)
            {
                <div class="col-md-3 col-6">

                    <div class="img-h img-block shadow-lg my-2 rounded" style="Background:#944d59">
                        @if (item.id > 0 && !string.IsNullOrEmpty(item.image))
                        {
                            <img id="img-pic" src="@("data:image/jpeg;base64,"+item.image)" style="width:100%;height:100%;position:absolute" />
                        }
                        else
                        {
                            <img id="img-pic" src="~/images/recipe-logo.png" style="width:100%;height:100%;position:absolute" />
                            @*<div style="width:100%;height:100%;position:absolute;    position: absolute;
    background: #00bef982;" class="d-center">
                                <i class="fa-solid fa-utensils text-white" style="font-size: 100px;"></i>
                            </div>*@
                        }
                        <div class="img-bg d-start">
                            <div class="row px-2 w-100">
                                <div class="col-6 d-start">
                                    <a class="no-decor" href="@Url.Action("Details","Home",new {id=item.id})">
                                        <i class="fa-solid fa-edit text-light"></i>
                                    </a>
                                    <button class="btn-no view-eye" data-id="@item.id">
                                        <i class="fa-solid fa-eye text-light"></i>
                                    </button>
                                    <span data-id="@item.id" class="Favourite" title="Favourite">
                                        @if (item.favourites == "Y")
                                        {
                                            <i class="fa-solid c-pink fa-heart"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-heart"></i>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="img-h img-content ">
                            <div class="d-flex m-2">
                                <div class="col-10 o-x-h ">
                                    <a class="no-decor text-white" href="@Url.Action("View","Home",new {id=item.id})">
                                        @item.recipe_name
                                    </a>
                                </div>
                                <div class="col-2 d-end">
                                    @{
                                        var color = item.recipe_type_id == 1 ? "green" : "brown";
                                    }
                                    <div style="aspect-ratio:1/1;width:20px;border:2px solid @color" class="d-center mx-2 shadow">
                                        <div style="aspect-ratio:1/1;width:10px;background:@color;border-radius:50px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div class="footer-page blur d-end">
    <div class="pager d-center">
        <span class="next @(Model.StartPage == Model.CurrentPage || Model.TotalPages <= 5?"d-none":"deep-shadow")" id="first"><i class="fa-solid fa-angles-left"></i></span>
        <span class="prev @(Model.StartPage == Model.CurrentPage?"d-none":"deep-shadow")" id="prev"><i class="fa-solid fa-chevron-left"></i></span>
        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
        {
            <span class="deep-shadow @(Model.CurrentPage == i ? "active ":"")" id="num">@i</span>
        }
        <span class="next @(Model.EndPage == Model.CurrentPage?"d-none":"deep-shadow")" id="next"><i class="fa-solid fa-chevron-right"></i></span>
    <span class="next @(Model.EndPage == Model.CurrentPage || Model.TotalPages <= 5?"d-none":"deep-shadow")" id="last"><i class="fa-solid fa-angles-right"></i></i></span>
        <span class="info deep-shadow">Total: @Model.TotalPages</span>
    </div>
</div>
<button class="test" hidden>test</button>

