@model RecipeDetailResponse
@{
    ViewData["Title"] = $"View recipe";
}
<div class="c-box rounded p-3" style="width:100%;margin:0">
        <h3>
            <a class="no-decor" href="@Url.Action("Index","Home")" hidden>
                <i class="fas fa-arrow-left text-dark"></i>
            </a>
            <button class="btn-no" data-bs-dismiss="modal">
                <i class="fas fa-arrow-left text-dark"></i>
            </button>View Recipe
        </h3>
        <hr />
        <div class="row  mb-3 ">
            <div class="col-lg-3 mt-3 ">
                <div class="row p-3">
                    <div class="d-center col-12 pic rounded o-x-h blur rounded deep-shadow">
                        @if(Model.id > 0 && !string.IsNullOrEmpty(Model.image))
                        {
                            <img id="img-pic " src="@("data:image/jpeg;base64,"+Model.image)" style="width:80%;height:80%" />
                        }
                        else
                        {
                            <img id="img-pic" src="~/images/recipe-logo.png" style="width:80%;height:80%;background:#944d59" />
                        }
                    </div>
                    <div class="col-12 d-center mt-2">
                        <button class="btn btn-primary m-2 deep-shadow">
                            <i class="fa-solid fa-print"></i> Print
                        </button>
                        <a href="@Url.Action("GeneratePdf","Home")" class="btn btn-success deep-shadow">
                            <i class="fa-solid fa-file-pdf"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-3">
                <div class="row p-3">
                    <div class="col-12 row blur rounded deep-shadow">
                        <div class="col-xl-11 col-10 mt-3">
                            <label for="email" class="form-label">Recipe Name:</label>
                            @Html.TextBoxFor(x => x.recipe_name,new{@class="form-control",@disabled=true})
                        </div>
                        <div class="col-xl-1 col-2 mt-3 d-flex justify-content-center align-items-end">
                            @{
                                var color = Model.recipe_type_id == 1 ? "green" : "brown";
                            }
                            <div style="aspect-ratio:1/1;width:38px;border:3px solid @color" class="d-center">
                                <div style="aspect-ratio:1/1;width:18px;background:@color;border-radius:50px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-2">
                            <div class="row">
                                <div class="col-12 dark-accent">
                                    <h5><i class="fa fa-list"></i> Instructions:</h5>
                                </div>
                                <div class="col-12 scroll blur white-accent" style="height:300px">
                                    <ol>
                                        @foreach (var item in (Model.description ?? string.Empty).Split(new string[] { Environment.NewLine },
                                        StringSplitOptions.None))
                                        {
                                            <li>@item</li>
                                        }
                                    </ol>
                                </div>
                             </div>
                        </div>
                        <div class="col-lg-6 mt-2 mb-3">
                            <div class="row">
                                <div class="col-12 dark-accent">
                                    <h5>Ingredients:</h5>
                                </div>
                                <div class="col-12 scroll blur white-accent" style="height:300px">
                                    <table class="table table-striped text-center">
                                        <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                        </tr>
                                        @foreach (var item in Model.ingredients)
                                        {
                                            <tr>
                                                <td>@item.ingredient_name</td>
                                                <td>@item.quantity</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</div>